PORT=

# DATABASE CONFIGURATION
DB_HOST=localhost
DB_PORT=
DB_USER=postgres
DB_PASSWORD=
DB_NAME=

# JWT CONFIGURATION
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_DURATION=
JWT_REFRESH_DURATION=
